li a {
    color: #4b7fb7 !important;
}

body {
    background-color: #EFFAFD !important;
    /*overflow-y: hidden;*/
    /*color: black;*/
    /*text-align:center;*/
}

.list {
    width:400px;
    margin:0 auto;
}

.list ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}

.list ol ol{
    margin: 0 0 0 2em;
}

.list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #FC756F;
    color: #444;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.list a:hover{
    background: #d6d4d4;
    text-decoration:none;
    transform: scale(1.1);
}

.list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #4b7fb7;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    color:#FFF;
}