<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="" style="background-color: transparent">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: transparent !important;">
                <div class="container">

                    <div class="nav-left">
                        <img th:src="@{/pictures/logo-picture.png}" height="40" width="60"/>
                        <a class="navbar-brand" href="/" style="color: #30598f !important; font-size: 16px"> IT Product
                            Aggregator</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarsExampleDefault"
                                aria-controls="navbarsExampleDefault" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="nav-right">
                        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item m-auto">
                                    <a class="nav-link active" href="/home">Home</a>
                                </li>
                                <li class="nav-item m-auto">
                                    <a class="nav-link active" href="/categories">Categories</a>
                                </li>
                                <li class="nav-item m-auto">
                                    <a class="nav-link active" href="/manufacturers">Manufacturers</a>
                                </li>
                                <li class="nav-item m-auto">
                                    <a class="nav-link active" href="/products">Products</a>
                                </li>
                                <li class="nav-item m-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="nav-link active" href="/panel">Admin panel</a>
                                </li>
                                <li class="nav-item m-auto" sec:authorize="!isAuthenticated()">
                                    <a class="nav-link active" href="/login">Login</a>
                                </li>
                                <li class="nav-item m-auto" sec:authorize="!isAuthenticated()">
                                    <a class="nav-link active" href="/register">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <th:block th:if="${#request.getRemoteUser() != null}"
                      th:text="'Logged as: ' + ${#request.getRemoteUser()}"></th:block>
            <div class="nav-item" sec:authorize="isAuthenticated()">
                <a class="btn btn-light btn-sm ml-3" href="/logout">
                    <i>Logout</i>
                </a>
            </div>
        </div>
    </section>
</header>

