<th:block>
    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <div style="width: 40%; margin-right: 2%; text-align: left;">
            <h2 style="font-size: 30px; text-align: left; color: #4b7fb7; font-weight: bold;">Welcome to IT Product
                Aggregator!</h2>
            <p style="color: #A0006D;">The only IT Aggregator in the country</p>
            <form th:action="@{'/'}" th:method="post">
                <button class="exploreButton" type="submit">Explore products</button>
            </form>
        </div>
        <div style="width: 40%; margin-left: 50px;">
            <img th:src="@{/pictures/phones-homePage.png}" style="height: 400px;">
        </div>
    </div>
</th:block>
