<th:block xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{'/manufacturers'}" th:method="post">
        <input type="text" th:name="input">
        <button type="submit">Search</button>
    </form>

    <div style="display: flex; flex-wrap: wrap;">
        <ol class="list">
            <li th:each="manufacturer : ${manufacturers}">
                <form th:action="@{'/manufacturers/{id}' (id=${manufacturer.getId()})}"
                      th:method="post">
                    <button type="submit" style="background: none; border: none; cursor: pointer;">
<!--                        <img th:src="@{'/pictures/categories/' + ${category.getId()} + '.jpg'}"-->
<!--                             alt="Category Image" style="width:100%; height:200px;"/>-->
                        <a style="color: #000000; text-decoration: none;font-size: 16px;display: block; padding: 5px;" th:text="${manufacturer.getManufacturerName()}"></a>
                    </button>
                </form>
            </li>
        </ol>
    </div>


<!--    <form th:each="manufacturer : ${manufacturers}" th:action="@{'/manufacturers/{id}' (id=${manufacturer.getId()})}" method="post">-->
<!--        <li>-->
<!--            <button type="submit" th:text="${manufacturer.getManufacturerName()}"></button>-->
<!--        </li>-->
<!--    </form>-->
</th:block>