<th:block xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{'/categories'}" th:method="post">
        <input type="text" th:name="input">
        <button type="submit">Search</button>
    </form>
    <div>
        <ul class="list">
            <li th:each="category : ${categories}">
                <form th:action="@{'/categories/{id}' (id=${category.getId()})}"
                      th:method="post">
                    <button type="submit" style="background: none; border: none; cursor: pointer;">
                        <a style="color: #000000; text-decoration: none;font-size: 16px;display: block; padding: 5px;" th:text="${category.getCategoryName()}"></a>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</th:block>