<th:block xmlns:th="http://www.thymeleaf.org">
    <body>
    <form th:method="POST" th:action="@{'/products/show'}">
        <label for="productName">Product name</label>
        <span class="inputField" style="margin-right: 5px;">
            <input id="productName" type="text" name="productName"/>
        </span>
        <label for="categoryId">Category</label>
        <select id="categoryId" name="categoryId" class="btn dropdown-toggle" style="background: #4b7fb7; margin-right: 5px;o">
            <option value="">All categories</option>
            <option th:each="category: ${categories}" th:value="${category.getId()}"
                    th:text="${category.getCategoryName()}"></option>
        </select>
        <label for="manufacturerId">Manufacturer</label>
        <select id="manufacturerId" name="manufacturerId" class="btn dropdown-toggle" style="background: #4b7fb7">
            <option value="">All manufacturers</option>
            <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.getId()}"
                    th:text="${manufacturer.getManufacturerName()}"></option>
        </select>
        <button id="filterName" type="submit" class="btn" style="background: #4b7fb7">Filter</button>
    </form>


    <div style="display: flex; flex-wrap: wrap; margin-top:20px;">
        <ul class="list">
            <li th:each="product : ${products}">
                <form th:action="@{'/products/{id}' (id=${product.getId()})}"
                      th:method="post">
                    <button type="submit" style="background: none; border: none; cursor: pointer;">
                        <a th:text="${product.getProductName()}"></a>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div sec:authorize="hasRole('${user.getRole().getRoleName()}')">
        <a href="/products/add" class="add-item">
            Add new product
        </a>
    </div>
    </body>
</th:block>
