<th:block xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{'/manufacturers'}" th:method="post">
        <span class="inputField">
            <input type="text" th:name="input">
        </span>
        <button type="submit">Search</button>
    </form>

    <div style="display: flex; flex-wrap: wrap; margin-top:20px;">
        <ul class="list">
            <li th:each="manufacturer : ${manufacturers}">
                <form th:action="@{'/manufacturers/{id}' (id=${manufacturer.getId()})}"
                      th:method="post">
                    <button class="" type="submit" style="background: none; border: none; cursor: pointer;">
                        <a style="color: #000000; text-decoration: none;font-size: 16px;display: block; padding: 5px;"
                           th:text="${manufacturer.getManufacturerName()}"></a>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</th:block>