<th:block xmlns:th="http://www.thymeleaf.org">
    <div style="display: flex; align-items: center">
        <img th:src="@{'/pictures/products/' + ${product.getId()} + '.jpg'}"  alt="Product Image"
             style="width:400px; height:400px;"/>
        <ul style="font-size: 18px; list-style: none; ">
            <li th:text="'Model: ' + ${product?.getProductName()}"></li>
            <li th:text="'Manufacturer: ' + ${product?.getManufacturer()?.getManufacturerName()}"></li>
            <li th:text="'Category: ' + ${category?.getCategoryName()}"></li>
            <li th:each="instance: ${product?.getProductInstances()}">
                <div th:text="${instance?.getStore()?.getStoreName()} + ': ' +
                    ${instance?.getPrice()} + ' ден.'">
                </div>
            </li>
            <br>
            <li th:text="'Description: ' + ${product?.getCharacteristic().getCharacteristicDescription()}"></li>
        </ul>
    </div>
    <a style="font-size: 18px; margin-top: 10px;" id="back" href="/products" type="button" class="btn btn-primary">Back to products</a>
</th:block>